<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/home">
      <img src="logo.png" alt="TheMealDB" class="logo" height="40">
    </a>

    <!-- Botón de hamburguesa -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú de navegación -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="/search" routerLinkActive="active">Search</a>
        <a class="nav-link" routerLink="/list" routerLinkActive="active">Lists</a>
        <a class="nav-link" routerLink="/random" routerLinkActive="active">Surprise me</a>
      </div>
    </div>
  </div>
</nav>
