<div class="text-center pb-5">
  <!-- Código de error -->
  <div class="error-code">404</div>

  <!-- Título de la página -->
  <h1 class="mb-4">Page Not Found</h1>

  <!-- Descripción de la página -->
  <p class="text-center mb-4">The page you are looking for might have been moved, deleted, or never existed.</p>

  <!-- Opciones de navegación -->
  <div class="options">
    <button class="btn btn-primary btn-lg me-3" routerLink="/home">Go to Homepage</button>
    <button class="btn btn-success btn-lg me-3" routerLink="/search">Search Recipes</button>
    <button class="btn btn-danger btn-lg" routerLink="/random">Random Recipe</button>
  </div>
</div>
