<div class="py-5">
  <div class="row justify-content-center">
      <div class="col">
          <form #searchForm="ngForm">
              <div class="input-group">
                  <select class="form-select bg-dark text-white border-secondary" style="max-width: 150px;" [(ngModel)]="searchType" name="searchType">
                    <option value="n">Name</option>
                    <option value="f">First letter</option>
                    <option value="i">Ingredient</option>
                    <option value="c">Category</option>
                    <option value="a">Area</option>
                  </select>
                  <input type="text" [(ngModel)]="searchInput" name="searchInput" class="form-control bg-dark text-white border-secondary" placeholder="Search...">
                  <button class="btn btn-primary" type="button" (click)="search(searchType)">Search</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- Formulario de búsqueda -->
<div class="row">
  <!-- Mostrar mensaje si no hay resultados -->
  <div class="col-12 text-center" *ngIf="!result">
    <h3 class="mb-5">No results found</h3>
  </div>

  <!-- Mostrar tarjetas de resultados -->
  <div class="col-md-4 mb-4" *ngFor="let res of result">
    <div class="card h-100 bg-dark text-white border border-secondary">
      <!-- Imagen de la comida -->
      <img [src]="res.strMealThumb" class="card-img-top" [alt]="res.strMeal">
      <div class="card-body">
        <!-- Título de la comida -->
        <h5 class="card-title">{{ res.strMeal | uppercase }}</h5>

        <!-- Descripción de la comida -->
        <p class="card-text">{{ res.strInstructions | slice:0:200 }}...</p>
      </div>

      <!-- Lista de categorías, áreas y tags -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark text-white border-0"><b>Category:</b> {{ res.strCategory }}</li>
        <li class="list-group-item bg-dark text-white border-0"><b>Area:</b> {{ res.strArea }}</li>
        <li class="list-group-item bg-dark text-white border-0"><b>Tags:</b> {{ (res | tags).strTags }}</li>
      </ul>

      <!-- Botón de detalles -->
      <div class="card-body">
        <button class="btn btn-primary" (click)="details(res.idMeal)">Details</button>
      </div>
    </div>
  </div>
</div>

<style>

</style>
